/* apply a natural box layout model to all elements, but allowing components to change */
html{
    box-sizing: border-box;
    font-size: 62.5%
}
*,*:before,*:after{
    box-sizing: inherit;
}


img {
    display: block;
    max-width: 100%;
}

body{
    font-size:1.6rem;
    line-height: 2;
    margin:0;
    padding: 0;
}

h1,
h2, 
h3 {
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

