$primaryColor: #24053E;
$secondaryColor: #44FFA1;
$grayColor: #584D62;
$whiteColor: #FFFFFF;
$lightPrimaryColor: #FCF8FF;

$mobileSize: 480px;
$tabletSize: 768px;
$desktopSize: 1024px;

$principalFont: 'Fraunces', serif;
$secondaryFont: 'Manrope', sans-serif;
